<div>
  <h2>Configuração do Gateway QuickPay</h2>
  <form>
    <input type="text" placeholder="Chave Pública" name="public_key">
    <input type="password" placeholder="Chave Secreta" name="secret_key">
    <button type="submit">Salvar</button>
  </form>
</div>
